@model ProductModelResponse
<!-- /.container-->

@if (Model != null && Model.Products != null)
{

    <div class="container">
        <!-- /.product-slider-->
        <div class="product-slider owl-carousel owl-theme owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
                    @foreach (var item in Model.Products)
                    {
                        <!-- /.product-->
                        <div class="owl-item" style="width: 222px;">
                            <div class="item">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front">
                                                <a href="@Url.Action("Detail", "Product", new { id = item.ID })">
                                                    <img src="@item.ProductImages[0]" alt="" class="img-fluid">
                                                </a>

                                            </div> <!-- resim yolu modele eklenip  -->
                                            <div class="back">
                                                <a href="@Url.Action("Detail", "Product", new { id = item.ID })">
                                                    <img src="@item.ProductImages[0]" alt="" class="img-fluid">
                                                </a>
                                            </div><!-- burada kullanılacak.  -->
                                        </div>
                                    </div><a href="@Url.Action("Detail", "Product", new { id = item.ID })" class="invisible"><img src="@item.ProductImages[0]" alt="" class="img-fluid"></a>
                                    <div class="text">
                                        <h3><a href="@Url.Action("Detail", "Product", new { id = item.ID })">@Html.Raw(item.Description)</a></h3>
                                        <p class="price">
                                            <del></del>@item.Price
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </div>



                    }
                    <input type="hidden" id="sayac" value="@Model.Products.Count">


                    @if (Model.PagingInfo.CurrentPage < Model.PagingInfo.LastPage)
                    {

                        <div class="owl-item" style="width: 222px;">
                            <div class="item" style="display:inline-block;">
                                <div class="product" style="margin-top:200%;">

                                    <div class="text" id="GetMore" style="display:inline;">
                                       More
                                    </div>

                                </div>
                                <!-- /.product-->
                            </div>
                        </div>



                    }

                </div>



            </div>
        </div>
        <!-- /.product-slider-->
    </div>
    <!-- /.container-->

}
<style>
    .owl-item {
    width:222px !important;
    
    }

</style>