@model LoginModel
<link href="~/Content/css/fbstyle.css" rel="stylesheet" />
<div class="box">
    <h1>Login</h1>
    @*<p class="lead">Already our customer?</p>
        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>*@
    <hr>
    @using (Html.BeginForm("Login", "Login"))
    {
        <div class="form-group" style="margin-top: 25px;">
            @Html.TextBoxFor(t => t.Email, new { placeholder = "email", @class = "form-control", id = "email-modal" })
            @Html.ValidationMessageFor(t => t.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">

            @Html.PasswordFor(t => t.Password, new { placeholder = "password", @class = "form-control", id = "password-modal" })
            @Html.ValidationMessageFor(t => t.Password, "", new { @class = "text-danger" })
        </div>

        if (ViewBag.error != null)
        {
            <div>
                <span>@ViewBag.error</span>
            </div>
        }
        <p class="text-center">
            <input type="submit" class="btn btn-primary" value="Login">
            <a href="/Login/FbLogin" title="Facebook" class="btn btn-facebook btn-primary"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
        </p>
        <a href="/Login/ForgotPassword"><p class="text-center" style="font-weight:800">Forgot password?</p></a>
    }

</div>
