@model CategoryModelResponse


<div id="navigation" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
        @{
            int count = 0;
        }
        @foreach (var category in Model.categories)
        {
            if (count == 4)
            {
                break;
            }
            <li class="nav-item dropdown menu-large" style="z-index:12">
                @if (category.HasSubCategory == true)
                {
                    <a href=" @Url.RouteUrl("CategoryProduct",new { categoryID = category.ID, name = Url.Encode(category.Name) })" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">@category.Name<b class="caret"></b></a>
                  
                    <ul class="dropdown-menu megamenu">
                        <li>
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <h5>@category.Name</h5>
                                    @foreach (var subCategories in category.SubCategories)
                                    {
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item">
                                               

                                                <a href=" @Url.RouteUrl("CategoryProduct",new { categoryID = subCategories.ID, name= B_Commerce.SMVC.Common.MUriHelper.GenerateSlug(subCategories.Name) })" class="nav-link">@subCategories.Name</a>
                                            </li>
                                        </ul>
                                    }
                                </div>
                                @{
                                    count++;
                                }
                            </div>
                        </li>
                    </ul>
                }
            </li>
        }
    </ul>

    <div class="navbar-buttons d-flex justify-content-end">
        <!-- /.nav-collapse-->
        <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
        <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="basket.html" class="btn btn-primary navbar-btn">
    <i class="fa fa-shopping-cart"></i>

    <span>Cart</span>

  

</a></div>
    </div>
</div>
