@model  B_Commerce.SMVC.Areas.Admin.Models.ProductModel
<link href="~/Content/css/zoomStyle.css" rel="stylesheet" />

<div id="productMain" class="row">
    <div class="col-md-6">
        <div data-slider-id="1" class="owl-carousel shop-detail-carousel owl-loaded owl-drag">

            <div class="owl-stage-outer">
                <div class="owl-stage"
                     style="transform: translate3d(-660px, 0px, 0px); transition: all 0.25s ease 0s; width: 2310px;">
                    @foreach (string item in Model.ImageUrls)
                    {
                    <div class="owl-item" style="width: 330px;">
                        <div class="img-container">
                            <img src="@item" alt="">
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="owl-nav disabled">
                <button type="button" role="presentation" class="owl-prev">
                    <span aria-label="Previous">‹</span>
                </button><button type="button" role="presentation" class="owl-next">
                    <span aria-label="Next">›</span>
                </button>
            </div>
            <div class="owl-dots disabled"></div>
        </div>
        <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon-->
        <div class="ribbon new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon-->
    </div>
    <div class="col-md-6">
        <div class="box">
            <h1 class="text-center">@Model.ProductName</h1>
            <p class="price">@Model.Price</p>
            <p class="text-center buttons"><a onclick="addToBasket(this,@Model.ID)" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a><a href="#" class="btn btn-outline-primary"><i class="fa fa-heart"></i> Add to wishlist</a></p>
        </div>
        <div data-slider-id="1" class="owl-thumbs">
            @foreach (string item in Model.ImageUrls)
            {
                <button class="owl-thumb-item"><img src="@item" alt="" class="img-fluid"></button>
            }
        </div>
    </div>
</div>
<div id="details" class="box">
    <p></p>
    <h4>Product details</h4>
    @Model.Description
</div>
