@model List<ProductModel>

<div class="row same-height-row">
    <div class="col-md-3 col-sm-6">
        <div class="product same-height" style="height: 346.563px;">
            <h3>Markanın Diğer Ürünleri</h3>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="product same-height" style="height: 346.563px;">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="@Url.Action("Detail","Product",new {ID = item.ID })">

                                <img src="@(item.ProductImages.Count>0?item.ProductImages[0]:"/Images/DefaultImage.png")" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="back">
                            <a href="@Url.Action("Detail","Product",new {ID = item.ID })">

                                <img src="@(item.ProductImages.Count>0?item.ProductImages[0]:"/Images/DefaultImage.png")" alt="" class="img-fluid">

                            </a>
                        </div>
                    </div>
                </div><a href="@Url.Action("Detail","Product",new {ID = item.ID })" class="invisible"><img src="@(item.ProductImages.Count>0?item.ProductImages[0]:"/Images/DefaultImage.png")" alt="" class="img-fluid"></a>
                <div class="text">
                    <h3>@item.ProductName</h3>
                    <p class="price">$@item.Price</p>
                </div>
            </div>
        </div>
    }

</div>