@model RegisterModel

<div class="box">
    <h1>New account</h1>
    <hr>
    @*<p class="lead">Not our registered customer yet?</p>
        <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
        <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
        <hr>*@
    @using (Html.BeginForm("DoRegister", "Login", FormMethod.Post))
    {
        <div class="form-group">
            @Html.TextBoxFor(t => t.Name, new { placeholder = "Name", @class = "form-control", id = "email-modal" })
            @Html.ValidationMessageFor(t => t.Name,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(t => t.Surname, new { placeholder = "Surname", @class = "form-control", id = "email-modal" })
            @Html.ValidationMessageFor(t => t.Surname,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(t => t.Username, new { placeholder = "Username", @class = "form-control", id = "email-modal" })
            @Html.ValidationMessageFor(t => t.Username,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(t => t.Email, new { placeholder = "Email", @class = "form-control", id = "email-modal" })
            @Html.ValidationMessageFor(t => t.Email,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(t => t.Phone, new { placeholder = "Phone", @class = "form-control", id = "email-modal" })
            @Html.ValidationMessageFor(t => t.Phone,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(t => t.Password, new { placeholder = "Password", @class = "form-control", id = "email-modal" })
            @Html.ValidationMessageFor(t => t.Password,"", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(t => t.ConfirmPassword, new { placeholder = "Password Tekrar", @class = "form-control", id = "email-modal" })
            @Html.ValidationMessageFor(t => t.ConfirmPassword,"", new { @class = "text-danger" })
        </div>
        if (ViewBag.registererror != null)
        {

            <div>
                <span>@ViewBag.registererror</span>
            </div>
        }
        <div class="text-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
        </div>

    }


</div>
