@model ProductModelResponse
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script>

    function listView() {
        $('.flip-container').hide();
        $(".productcard").removeClass("col-lg-4").addClass("col-lg-12");
        $('.listcontainer').css("display", "flex");
        $('.listcontainer').css("justify-content", "space-between");
    }

    function gridView() {
        $('.flip-container').show();
        $(".productcard").removeClass("col-lg-12").addClass("col-lg-4");
         $('.listcontainer').css("display", "block");
    }

    function ajax(id) { getpartialwithajax(id) };

    function getpartialwithajax(id) {
        $.ajax({
            type: "GET",
            url: "/Product/ProductDetail",
            data: `ID=${id}`,
            dataType: "html",
            success: function (response) {
                $('#productpoup').html(response);
                $('#myExtraLargeModalLabel').on('shown.bs.modal', function () {
                    $('.bd-example-modal-xl').trigger('focus')
                });
            }
        });
    }

    $(document).ready(function () {
        $("#colorapply").click(function () {
            if ($("input[type=checkbox]").prop(
                ":checked")) {
                alert("Check box in Checked");
            } else {
                alert("Check box is Unchecked");
            }
        });
    });


</script>
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">@ViewBag.name</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-9">
                    <div class="box">
                        <h1>@ViewBag.name</h1>
                        <p>todo:katogory bilgileri sevisten donulmeli</p>
                    </div>
                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-md-12 col-lg-4 products-showing">
                                Showing
                                <strong>@Model.PagingInfo.CurrentPage</strong> of <strong>@Model.PagingInfo.LastPage</strong> pages
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" onclick="gridView()" class="btn btn-secondary"><i class="fa fa-th-large"></i> Grid </button>
                                    <button type="button" onclick="listView()" class="btn btn-secondary"><i class="fa fa-bars"></i> List </button>
                                </div>
                            </div>


                            <div class="col-md-12 col-lg-7 products-number-sort">
                                <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                    <div class="products-number">
                                        <strong>Show</strong>
                                        <a href='@B_Commerce.SMVC.Common.MUriHelper.AddQueryStringItemToUrl("range","3")' class='btn btn-sm @((ViewBag.range!=null && ViewBag.range==3) ? "btn-primary" :"btn-outline-secondary")'>3</a>

                                        <a href='@B_Commerce.SMVC.Common.MUriHelper.AddQueryStringItemToUrl("range","5")' class='btn btn-sm @((ViewBag.range!=null && ViewBag.range==5) ? "btn-primary" :"btn-outline-secondary")'>5</a>
                                        <a href='@B_Commerce.SMVC.Common.MUriHelper.AddQueryStringItemToUrl("range","10")' class='btn btn-sm @((ViewBag.range!=null && ViewBag.range==10) ? "btn-primary" :"btn-outline-secondary")'>10</a>
                                        <a href='@B_Commerce.SMVC.Common.MUriHelper.AddQueryStringItemToUrl("range","20")' class='btn btn-sm @((ViewBag.range!=null && ViewBag.range==20) ? "btn-primary" :"btn-outline-secondary")'>20</a>
                                        <span>ürün</span>
                                    </div>
                                    <div class="products-sort-by mt-2 mt-lg-0">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Price</option>
                                            <option>Name</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row products">

                        @foreach (var item in Model.Products)
                        {
                            <div class="col-lg-4 col-md-6 productcard">
                                <div class="product">
                                    <div class="flip-container">
                                        <div class="flipper">
                                            <div class="front"><a href="@Url.Action("Detail","Product",new {ID = item.ID })"><img src="@item.ProductImages[0]" alt="" class="img-fluid"></a></div>
                                            <div class="back"><a href="@Url.Action("Detail","Product",new {ID = item.ID })"><img src="@item.ProductImages[0]" alt="" class="img-fluid"></a></div>
                                        </div>
                                        <a href="@Url.Action("Detail","Product",new {ID = item.ID })" class="invisible"><img src="@item.ProductImages[0]" alt="" class="img-fluid"></a>
                                    </div>
                                    <div class="text listcontainer">
                                        <h3>
                                            <a href="@Url.Action("Detail","Product",new {ID = item.ID })">
                                                @item.ProductName
                                            </a>
                                        </h3>
                                        <p class="price">
                                            <del></del>$@item.Price
                                        </p>
                                        <p class="buttons">
                                            <a  class="btn btn-outline-secondary productbutton" onclick="ajax(@item.ID)" data-toggle="modal" data-target=".bd-example-modal-xl">Detay</a>

                                            <a   onclick="addToBasket(this,@item.ID)" class="btn btn-primary basketbutton">
                                                <i class="fa fa-shopping-cart"></i>
                                                Spete Ekle

                                            </a>
                                        </p>
                                    </div>
                                    <!-- /.text-->
                                </div>
                                <!-- /.product            -->
                            </div>

                        }

                        <!-- /.products-->
                    </div>



                    @Html.GetPager(Model.PagingInfo.CurrentPage, (Model.PagingInfo.Demand * Model.PagingInfo.LastPage), Model.PagingInfo.Demand)




                </div>
                <!-- /.col-lg-9-->
                <div class="col-lg-3">
                    <!--
                    *** MENUS AND FILTERS ***
                    _________________________________________________________
                    -->

                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        @Html.Partial("_PartialProductsBrand", Model.ProductsBrand)


                    </div>
                    <div class="card sidebar-menu mb-4">
                        @Html.Partial("_PartialProductsColor", Model.ProductsColor)
                    </div>
                    <!-- *** MENUS AND FILTERS END ***-->
                    <div class="banner"><a href="#"><img src="img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div id="productpoup" class="modal-content">
            ...
        </div>
    </div>
</div>
